{% extends 'header.html' %}

{% block content %}

        {% if title %}
            <title>Snacks site - {{ title }}</title>
        {% else %}
            <title>Snacks site</title>
        {% endif %}
    <body>
        <main>
            <section class="items">
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/pizza1.jpg')}}" alt="">
                    <div class="txt">
                    <h4>Pizza</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/sharwarma1.jpg')}}" alt="">
                    <div class="txt">
                    <h4>Sharwarma</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/chicken_burger.jpeg')}}" alt="">
                    <div class="txt">
                    <h4>Chicken burger</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/beaf_burger.jpg')}}" alt="">
                    <div class="txt">
                    <h4>Beaf Burger</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/meat_pie1.jpg')}}" alt="">
                    <div class="txt">
                    <h4>Meat pie</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/cake1.jpeg')}}" alt="">
                    <div class="txt">
                    <h4>Cake</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/potato_chips.jpg')}}" alt="">
                    <div class="txt">
                    <h4>Potato chips</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/biscuits.jpg')}}" alt="">
                    <div class="txt">
                    <h4>Biscuits</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/pop_corn.jpg')}}" alt="">
                    <div class="txt">
                    <h4>Pop corn</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/fish_roll.jpg')}}" alt="">
                    <div class="txt">
                    <h4>Fish roll</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/fish_roll.jpg')}}" alt="">
                    <div class="txt">
                    <h4>Fish roll</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/fish_roll.jpg')}}" alt="">
                    <div class="txt">
                    <h4>Fish roll</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/fish_roll.jpg')}}" alt="">
                    <div class="txt">
                    <h4>Fish roll</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/Puff_puff1.jpeg')}}" alt="">
                    <div class="txt">
                    <h4>Puff puff</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
                <div class="item">
                    <img src="{{url_for('static', filename = '/img/sliced_bread.jpg')}}" alt="">
                    <div class="txt">
                    <h4>Sliced bread</h4>
                    <p>price</p>
                    </div>
                    <button class="btn">Order</button>
                </div>
            </section>
        </main>
        <footer>
            <div class="foot">
                <div class="address"><p>Address: No.1 new Government Layout Jos, Plateau State</p></div>
                <div class="social">
                    <p>Follow us:</p>
                    <div class="image">
                        <a href="https://web.facebook.com/"><img src="{{url_for('static', filename = '/img/fb_icon.png')}}">   facebook</a>
                        <a href="https://twitter.com/"><img src="{{url_for('static', filename = '/img/tw_icon.png')}}">   twitter</a>
                        <a href="https://www.instagram.com/"><img src="{{url_for('static', filename = '/img/in_icon.jpg')}}">   instagram</a>
                    </div>
                </div>
                <hr>
                <div class="copy">
                    &copy; Copyright 2022 Assignment. All rights reserved
                </div>
            </div>
        </footer>
    </body>
{% endblock %}